html, body {
    min-width: 550px;
    min-height: 350px;

    max-width: 550px;
    max-height: 350px;
  
}

.black-theme {
    background-color: #121212;
    
}

.navbar-bg {
    background-color: #161616;
}

#clips-container > .card {
    background-color: #121212;
}

.pagination > li > button
{
    color: #52528C;
    background-color: #161616 ;
    border-color: #272727 ;
}

.pagination > li > button:hover
{   
    color: #52528C;
    background-color: #161616 ;
    border-color: #272727 ;
    opacity: 0.9;
}

.pagination > .active > button
{   
    
    background-color: #52528C;
    border: solid 1px #52528C;
}

.pagination > .active > button:hover
{
    color: #fff;
    background-color: #52528C;
    border: solid 1px #52528C;
}

.pagination > .disabled > button
{
    background-color: #161616 ;
    border-color: #272727 ;
}


.button {
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
    border: none;
    border-radius: 0.4rem;
    font-size: 13px;
    font-weight: 600;
    height: 30px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    text-decoration: none;
    /* line-height: 19.5px; */
    /* text-size-adjust: 100%; */
    
}

.copy-to-clipboard-button {
    background-color: #52528C;
    
}

.add-to-favorite-button-container {
    position: relative;
}

.add-to-favorite-button-in-created-clip {
    background-color: #9147ff;
    width: fit-content;
}

.add-to-favorite-button-when-creating-clip {
    background-color: #9147ff;
    width: fit-content;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.remove-from-favorite-button-in-created-clip {
    background-color: #cf2f06;
    width: fit-content;
    
}

.remove-from-favorite-button-when-creating-clip {
    background-color: #cf2f06;
    width: fit-content;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.remove-from-favorite-button-in-popup {
    background-color: #cf2f06;
    margin: 5px;
}

.add-to-favorite-button:hover {
    background-color: #772ce8; 
    cursor: pointer;
}

.remove-from-favorite-button:hover {
    background-color: #aa2909; 
    cursor: pointer;
}

.clip-img img{
    width: 250px;
    height: 150px;

}


.clip-container:first-child .clip-img img {
    width: 400px;
    height: 250px;
  }
  


#clips-container {
    display: flex;
    flex-wrap: wrap;
  }
  
.clip-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    margin: 5px;
    flex-basis: calc(50% - 10px);
}

.clip-container:first-child {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clip-container button {
    max-width: 100%;
    align-self: center;
}


#search-input {
    width: 200px;
    
}


#spinner {
    width: 3rem;
    height: 3rem;
}

#spinner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh  
}

.clip-title {
    max-width: 250px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
    padding: 2px;
}

#favorite-clips {
    padding-left: 16px;
    padding-top: 10px;
}

.clip-container:first-child .clip-title {
    max-width: 400px;
}

.pagination {
    padding-bottom: 10px;
    
}


#login-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search-button {
    border-color: #52528C;
    color: #52528C;
}

#search-button:hover {
    background-color: #52528C;
    color: #ffffff;
  }