html, body {
  /* min-width: 550px; */
  min-width: 550px;
  min-height: 300px;
}

.button {
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
    border: none;
    border-radius: 0.4rem;
    font-size: 13px;
    font-weight: 600;
    height: 30px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    text-decoration: none;
    line-height: 19.5px;
    text-size-adjust: 100%;
}

.add-to-favorite-button {
    background-color: #9147ff;
}

.remove-from-favorite-button {
    background-color: #cf2f06;
}

.button:hover {
    cursor: pointer;
}

.add-button:hover {
    background-color: #772ce8; 
}

.remove-button:hover {
    background-color: #721b05; 
}

.clip-img img{
    width: 250px;
    height: 150px;

}


.clip-container:first-child .clip-img img {
    width: 400px;
    height: 250px;
  }
  

/* #clips-container {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
    
} */

/* .clip-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
} */

#clips-container {
    display: flex;
    flex-wrap: wrap;
  }
  
.clip-container {
    flex-basis: calc(50% - 10px);
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.clip-container:first-child {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clip-container button {
    max-width: 100%;
    align-self: center;
}

#search-input {
    width: 200px;
    
}





